@model NewsApp.Models.TopThree

@if (Model.Top3 != null)
{
    <div id="carouselExampleIndicators2" class="carousel slide text-light text-center" data-bs-ride="carousel" style="background-color: darkslategrey;">
        <div class="carousel-inner">
            <div class="carousel-item active col-md-3 p-2">
                @foreach (var item in Model.Top3)
                {
                    <span class="p-2">@Html.DisplayFor(modelItem => item.Name) </span>
                    <span class="p-2">@Html.DisplayFor(modelItem => item.Close)</span>
                    <span class="bg-success">@Math.Round(item.PercentChange,2)</span>
                    <span class="p-2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
                }
            </div>

            <div class="carousel-item col-md-3 p-2">
                @foreach (var item in Model.Top3)
                {
                    <span class="p-2">@Html.DisplayFor(modelItem => item.Name) </span>
                    <span class="p-2">@Html.DisplayFor(modelItem => item.Close)</span>
                    <span class="bg-success">@Math.Round(item.PercentChange,2)</span>
                    <span class="p-2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
                }
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}
else{<div style="text-align:center;background-color:green">Stockmarket is down</div>}


