@model IEnumerable<NewsApp.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Article">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentSummary)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorChoice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentSummary)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes.Count)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorChoice)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Article" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-controller="Article" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-controller="Article" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="EditorChoice" asp-controller="Editor" asp-route-id="@item.Id">ToggleEditorChoice</a>
            </td>
        </tr>
}
    </tbody>
</table>
