@model IEnumerable<NewsApp.Models.Article>

@{
    ViewData["Title"] = "CategoryIndex";

    var tmp = @Model.FirstOrDefault(c => c.Category.Name == "Business");

    if (tmp != null)
    {
        if (tmp.Category.Name == "Business")
        {
            <div style="border: 1px solid gray">
               <vc:stock></vc:stock>
            </div>
            <br />
        }
    }
}

@foreach (var item in Model)
{

    <div class="card text-center col-md-10">
        <div class="card-header bg-dark text-lg-center text-light text-uppercase ">
            @item.Category.Name
        </div>
        <div class="card-body">
            <img src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="@item.Title" width="100%" height="500" />
            <h5 class="card-title title-style">@item.Title</h5>
            <p class="card-text content-style">@item.ContentSummary</p>
            <a class="btn btn-primary" asp-action="Details" asp-controller="Article" asp-route-id="@item.Id">Read more....</a>
        </div>
        <div class="text-sm-end text-muted" style="margin:12px">
            <i class="bi bi-chat-text-fill" style="margin:12px">@item.Comments.Count()</i>
            <i class="bi bi-eye-fill ">@item.Views</i>

        </div>
    </div>
    <br />
    <br />


}

