@using Microsoft.AspNetCore.Identity
@model NewsApp.Models.Article
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    var userId = UserManager.GetUserId(User);
}

<div class="container main-content" style="text-align:justify">
    <div class="row">
        <div class="col-md-10" style="margin:auto">
            <img src="@Html.DisplayFor(modelItem => Model.ImageLink)" alt="@Model.Title" style="width: 100%; box-shadow:2px 2px 5px 5px #ced9d3"/>
             <a class="badge text-uppercase" style="background-color:darkred; color:white; text-decoration:none; font-family:'Times New Roman', Times, serif;" asp-controller="Home" asp-action="Index" asp-route-categoryName="@Model.Category.Name">@Model.Category.Name</a>
             @Model.DateStamp.ToLongDateString()
            
            <br /><br />
            <h2 class="title-style">@Model.Title</h2>
            <div class="content-style">@Model.Content</div>
            <br />
        </div>
    </div>
</div>
 <hr />

@if (SignInManager.IsSignedIn(User))
{

    <div class="row">

        <div class="col-md-10" id="opinions" style=" box-shadow:2px 2px 5px 5px #ced9d3 ; text-align:center;margin:auto">


            <div>
                <div class="opinion-wrapper">

                    <h2 style="text-align:center; color:darkred">What do you think of the news?</h2>
                    <div class="button-container">
                        @if (Model.Likes.Any(l => l.UserId == userId))
                        {
                            <a class="like-button btn btn-success" id="like-button" asp-controller="Article" asp-action="ClickLike" asp-route-like=@Model.Id>
                                <i class="bi bi-hand-thumbs-up-fill"></i>
                                Like
                            </a>
                        }
                        else
                        {
                            <a class="like-button btn btn-success" id="like-button" asp-controller="Article" asp-action="ClickLike" asp-route-like=@Model.Id>
                                <i class="bi bi-hand-thumbs-up"></i>
                                Like
                            </a>
                        }
                        <p class="like-text">
                            <span>
                                @Model.Likes.Count Person
                            </span>
                        </p>
                    </div>

                    <div class="button-container">
                        @if (Model.Dislikes.Any(l => l.UserId == userId))
                        {
                            <a class="like-button btn btn-danger" id="dislike-button" asp-controller="Article" asp-action="ClickLike" asp-route-dislike=@Model.Id>
                                <i class="bi bi-hand-thumbs-down-fill"></i>
                                Dislike
                            </a>
                        }
                        else
                        {
                            <a class="like-button btn btn-danger" id="dislike-button" asp-controller="Article" asp-action="ClickLike" asp-route-dislike=@Model.Id>
                                <i class="bi bi-hand-thumbs-down"></i>
                                Dislike
                            </a>
                        }
                        <p class="like-text">
                            <span>
                                @Model.Dislikes.Count Person
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <hr />

            <form asp-action="Create" asp-controller="Comment">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="articleId" value="@Model.Id" />
                <p class="comment-form-comment">
                    <div class="form-floating">
                        <textarea name="commentBody" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                </p>
                <div class="form-group" style="text-align:left">
                    <input type="submit" value="Submit your comment" class="btn btn-primary" />
                </div>
            </form>

            <h2 style="color:darkred">@Model.Comments.Count()  Comments </h2>
            <div class="my-4" style="text-align:left">
                @foreach (var comment in Model.Comments.OrderByDescending(c => c.DateStamp))
                {
                    <partial name="_CommentPartial" model="comment" />
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    
        <script>
            $(document).ready(function () {
            var JumpTo = '@TempData["JumpToOpinions"]';
                console.log(JumpTo);
                if (JumpTo == "hej") {
                $(this).scrollTop($('#opinions').position().top);
                }
            });
        </script>
}