@model IEnumerable<NewsApp.Models.Article>

@{
    ViewData["Title"] = "Index";
}


@foreach (var item in Model)
{
    <div class="card text-center col-md-10 mx-auto">
        <div class="card-header text-lg-center text-light text-uppercase">
            @item.Category.Name
        </div>
        <div class="card-body">
            <img src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="@item.Title" width="100%" height="500" />
            <div class="me-1" style="text-align:left; color:gray"><b>Published on @item.DateStamp.ToLongDateString()</b></div>

            <h5 class="card-title title-style">@item.Title</h5>
            <p class="card-text content-style">@item.ContentSummary</p>
            <a class="btn btn-primary" asp-action="Details" asp-controller="Article" asp-route-id="@item.Id">Read more....</a>
        </div>

        <div class="text-sm-end text-muted d-flex gap-2 justify-content-end align-items-center me-2">
            <div data-bs-toggle="tooltip" data-bs-title="Comments">
                <i class="bi bi-chat-text-fill"></i>
                <span>@item.Comments.Count()</span>
            </div>

            <div data-bs-toggle="tooltip" data-bs-title="Views">
                <i class="bi bi-eye-fill "></i>
                <span>@item.Views</span>
            </div>
            <div>
                <div data-bs-toggle="tooltip" data-bs-title="Likes">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span>@item.Likes.Count()</span>
                </div>
            </div>
        </div>
    </div>
    <br />
}

