@model IEnumerable<NewsApp.Models.Article>
@using NewsApp.ViewComponents


@{
    ViewData["Title"] = "Home Page";


    var tmp = @Model.FirstOrDefault(c => c.Category.Name == "Business");

    if (tmp != null)
    {
        if (tmp.Category.Name == "Business")
        {
            <div style="border: 1px solid gray">

               <vc:stock></vc:stock>

            </div>
            <br />
        }
    }
}

<!--main content-->




<div class="row">
    <div class="col-md-4">
        <div style="background-color:palegoldenrod;">
            <br />
            <hr />
            <h3 style="background-color:red; Text-align:center">Popular News</h3>
            <hr />
            <vc:Popular-Articles></vc:Popular-Articles>
        </div>

        <br />
        <div style="background-color:palegoldenrod; margin:0px; border-color:black">
            <br />
            <hr />
            <h3 style="background-color:lightgreen; Text-align:center">Latest News</h3>
            <hr />
            <vc:Latest-Articles></vc:Latest-Articles>
        </div>


        <br />
        <div style="background-color:palegoldenrod; margin:0px; border-color:black">
            <br />
            <hr />
            <h3 style="background-color:lightblue; Text-align:center">Editor choice <i class="fa-solid fa-pen-fancy"></i></h3>

            <hr />

            @await Html.PartialAsync("_EditorsChoice")


        </div>
    </div>

    <div class="col-md-8">



        @foreach (var item in Model)
        {
            <table class="card text-center">
                <tr>
                    <td>
                        <div class="card-header bg-dark text-lg-center text-light text-uppercase">@item.Category.Name</div>
                        <div class="card-body">
                           <img src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="@item.Title" width="100%" height="500" />
                            <h5 class="card-title title-style">@item.Title</h5>
                            <p class="card-text content-style">@item.ContentSummary</p>
                            <a class="btn btn-primary" asp-action="Details" asp-controller="Article" asp-route-id="@item.Id">Read more....</a>
                        </div>
                        <div class="text-sm-end text-muted" style="margin:12px">
                            <i class="bi bi-chat-text-fill" style="margin:12px">@item.Comments.Count()</i>
                            <i class="bi bi-eye-fill ">@item.Views</i>
                        </div>
                    </td>

                </tr>
            </table>
        }


    </div>

</div>


