@model IEnumerable<NewsApp.Models.Article>
@using NewsApp.ViewComponents


@{
    ViewData["Title"] = "Home Page";


    var tmp = @Model.FirstOrDefault(c => c.Category.Name == "Business");

    if (tmp != null)
    {
        if (tmp.Category.Name == "Business")
        {
    <div style="border: 1px solid gray">


                    <vc:stock></vc:stock>


    </div>
    <br />
        }
    }
}

<!--main content-->

<div class="row">
    <div class="col-md-4">

        <div style="background-color:#ecebeb; box-shadow:2px 2px 5px 5px #ced9d3">

            <h3 class="bg-dark" style="border: 1px solid gray; color:white; font-family:Arial, Helvetica, sans-serif; Text-align:center; padding: 8px;">POPULAR NEWS<br /></h3>


            <vc:Popular-Articles></vc:Popular-Articles>
        </div>

        <br />

        <div style="background-color:#ecebeb; box-shadow:2px 2px 5px 5px #ced9d3">

            <h3 class="bg-dark" style="border: 1px solid gray; color:white; font-family:Arial, Helvetica, sans-serif; Text-align:center; padding: 8px;">LATEST NEWS<br /></h3>

            <vc:Latest-Articles></vc:Latest-Articles>
            
        </div>


        <br />

        <div style="background-color:#ecebeb; box-shadow:2px 2px 5px 5px #ced9d3">

            <h3 style="background-color:blue; border: 1px solid gray; color:white; font-family:Arial, Helvetica, sans-serif; Text-align:center; padding: 8px;">EDITOR CHOICE<i class="fa-solid fa-pen-fancy"></i><br /></h3>

            <vc:Editors-Choice></vc:Editors-Choice>
       


        </div>
    </div>


    <div class="col-md-8">



        @foreach (var item in Model)
        {
            <table class="card text-center">
                <tr>
                    <td>

                        <div class="card-header text-lg-center text-light text-uppercase" style="font-family:'Times New Roman', Times, serif;font-weight: bold;background-color:darkred">@item.Category.Name</div>
                        <img class="card-img-top rounded-0" src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="@item.Title" style="width:100%; height:400px" />
                        <div class="me-1" style="text-align:left; color:gray"><b>Published on @item.DateStamp.ToLongDateString()</b></div>

                        <div class="card-body">

                            <h5 class="card-title title-style">@item.Title</h5>
                            <p class="card-text content-style">@item.ContentSummary</p>
                            <a class="btn btn-primary" asp-action="Details" asp-controller="Article" asp-route-id="@item.Id">Read more....</a>
                        </div>
                        <div class="text-sm-end text-muted d-flex gap-2 justify-content-end align-items-center me-2">
                            <div data-bs-toggle="tooltip" data-bs-title="Comments">
                                <i class="bi bi-chat-text-fill"></i>
                                <span>@item.Comments.Count()</span>
                            </div>


                            <div data-bs-toggle="tooltip" data-bs-title="Views">
                                <i class="bi bi-eye-fill "></i>
                                <span>@item.Views</span>
                            </div>
                            <div>
                                <div data-bs-toggle="tooltip" data-bs-title="Likes">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <span>@item.Likes.Count()</span>
                                </div>
                            </div>

                        </div>
                    </td>

                </tr>
            </table>
            <br />
        }


    </div>

</div>
