@model IEnumerable<NewsApp.Models.Article>
@using NewsApp.ViewComponents


@{
    ViewData["Title"] = "Home Page";
}

<!--main content-->




<div class="row">
     
    <div class="col-md-4"> 
        <div style="background-color:palegoldenrod;">
         <br />
         <hr />
         <h3 style="background-color:red; Text-align:center">Popular News</h3>
         <hr />
        
           <vc:Popular-Articles></vc:Popular-Articles>
       
       </div>

      @* @foreach (var article in Model)
        {
           <div class="row" style="margin:10px 0px">
               <div class="col-md-4">
                   @article.Likes
                   <img src="@article.ImageLink" style="width:100%"  />
                   <hr />
                 </div> 

               <div class="col-md-8">
                   @article.Title
                   
                   <a class="nav-link" asp-controller="Article" asp-action="Details" asp-route-id=@article.Id >Details</a>
                   <br />

                   <hr />
               </div>

           </div>
        }
        <br />*@
        <br />
         <div style="background-color:palegoldenrod; margin:0px; border-color:black">
           <br />
           <hr />
           <h3 style="background-color:lightgreen; Text-align:center">Latest News</h3>
           <hr />

          <vc:Latest-Articles></vc:Latest-Articles>
          
        
         </div>
       
        @*@foreach (var article in Model)
        {
            <div class="row" style="margin:10px 0px">
                <div class="col-md-4">
                    @article.DateStamp
                    <img src="@article.ImageLink" style="width:100%" />
                </div>
                <div class="col-md-8">.
                    @article.Title

                    <a class="nav-link" asp-controller="Article" asp-action="View full article" asp-route-id="@article.Id">@Html.DisplayFor(modelItem => item.LinkText)</a>
                </div>
            </div>
        }*@
       
        <br />

        <div style="background-color:palegoldenrod; margin:0px; border-color:black">
         <br />
         <hr />
         <h3 style="background-color:lightblue; Text-align:center">Editor choice <i class="fa-solid fa-pen-fancy"></i></h3>
         
         <hr />
        
        @await Html.PartialAsync("_EditorsChoice")
       
        
       </div>
    </div>

    <div class="col-md-8">
         

        
       @* <div class="card-body" style="padding:0px">
            <a class="text-link" asp-controller="Article" asp-action="CategoryIndex" asp-route-categoryName="@item.Category.Name"><img src="@item.ImageLink" style="width:100%"  /></a>

        </div>*@
      
        @*<div class="card-header">
            <h1 class="card-title text-center m-5" style="font-family:Georgia, 'Times New Roman', Times, seri; font-size: 40px">Royal Family greet Queen Elizabeth II's coffin </h1>
            <h5 style="font-family:'Times New Roman', Times, serif; ">Thursday, 6 October 2022</h5>
        </div>
        <div class="card-body" style="padding:0px">
            <img src="https://c.files.bbci.co.uk/12E97/production/_126736477_gettyimages-1423631022.jpg" class="card-img-top" alt="Queen Elizabeth">

            <p class="card-text">The Queen's children and grandchildren greeted her coffin on its arrival at Buckingham Palace.</p>

        </div>
        <div class="card-footer">
            <a class="btn btn-primary"  asp-controller="Article" asp-action="CategoryIndex" asp-route-categoryName="World">View full Article</a>
        </div>*@

        <hr/>
        <h1 style="text-align: center"> Articles</h1>
        <hr/>
       
@foreach (var item in Model) {
     <table class="card">
        <tr>
            
               
            
           
            <td>
                 <h5 style="font-family:'Times New Roman', Times, serif; color:white; background-color:red; text-align:center">@item.Category.Name</h5>
                <h5 style="font-family:'Times New Roman', Times, serif; text-align:center">@item.Title</h5>
                 @* <img src="@item.ImageLink" style="width:100%"  />*@
                <a class="text-link" asp-controller="Article" asp-action="CategoryIndex" asp-route-categoryName="@item.Category.Name"><img src="@item.ImageLink" style="width:100%"  /></a>
                @*@Html.DisplayFor(modelItem => item.Title)*@
               <a class="text-link" style="text-decoration: none" asp-controller="Article" asp-action="CategoryIndex" asp-route-categoryName="@item.Category.Name">@item.Title</a>
                 <div class="card-footer">
                     <h5 style="font-family:'Times New Roman', Times, serif; color:black">@item.DateStamp.ToLongDateString()</h5>
                     <a class="btn btn-primary"  asp-controller="Article" asp-action="Details" asp-route-id=@item.Id>View full Article</a>
                 </div>
                
                @*<a class="article-link" asp-controller="Article" asp-action="CategoryIndex" asp-route-id="article.id">@Html.DisplayFor(modelItem => item.LinkText)</a>*@

            </td>
            
        </tr>
     </table>
}
    

    </div>
    
</div>
    

