@model IEnumerable<NewsApp.Models.Article>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditorChoice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorChoice)
            </td>
          
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>